@charset "UTF-8";

body{
    font-family: sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    background-image: url("../_assets/background-1360-760.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.login{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.formulario{
    max-width: 356px;
    width: 356px;
    margin: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@media (max-width: 420px) {
    .formulario{
        width: auto;
        min-width: 250px;
    }
    body{
        min-width: 300px;
    }
}

.hide{
    display: none;
}

.dash{
    width: 85vw;
    max-width: 880px;
    min-height: 90vh;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 3px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/*===============================VISUALIZAR NOTAS.PHP ================================== */
#btnSelecionarTodas:hover{
    cursor: pointer;
}
#btnSelecionarTodas{
    color: blue;
    text-decoration: underline;
    margin-top: 5px;
}
/* ======================================================================================== */